.pPageWrap {
  /* width: 672px; */
  /* ^-- may not be needed, or change width to suit*/

  display: flex;
  flex-flow: row wrap;
  padding-top: 12px;

}
.pPageContainer {
  display: flex;
  height: 100%;
  width: 100%;

  flex-flow: row wrap;
  column-gap: 4px;
}
.pTileWrap {
  flex: 0 0 auto;
  display: block;
}
.pTileCardWrap { /* <-- needed?*/
  height: 100%;
  width: 100%;

  display: block;
}
.pTileCardContainer {
  /* this container is for drag and drop when implemented */
  display: block;
}
.pCardLinkWrap {
  margin: 0 8px;

}
.pCardLinkContainer {
  border-radius: 16px;
  box-sizing: border-box;
  height: 146px;
  min-width: 97px;
  padding: 4px 0;
  width: 97px;
  align-items: center;
  display: flex;
  flex-flow: column;
  /* position: relative; */
  transition-duration: .4s;

  /* background: lightgrey; */
  /* background: white; */
}
.pCardLinkWrap {
  height: 80px;
  width: 80px;
}
.pCardIconWrap {
  /* This wrap set up to have links inside - add later */
  border-radius: 14px;
  height: 100%;
  width: 100%;
  box-shadow: inset 0 -2px rgb(0 0 0 / 5%);
  align-items: center;
  background: var(--alert-color);
  display: flex;
  fill: #fff;
  flex-flow: column;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.pIcon {
  color: var(--bg-color-secondary);
  font-size: 3rem;
}
.pTileCardName {
  box-sizing: border-box;
  margin-top: 8px;
  padding: 0 8px;
  -webkit-box-orient: vertical;
  color: var(--font-color-primary);
  display: -webkit-box;
  font-size: 14px;
  font-weight: 500;
  -webkit-line-clamp: 2;
  line-height: 18px;
  max-height: 36px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  width: 100%;
}
.pCardSubTitle {
  font-size: 1.25rem;
  color: var(--font-color-secondary);
}

/*  Media Queries */
@media (min-width: 767px) {
  .pPageContainer {
    justify-content: flex-start;
    column-gap: 6px;
  }
  .pCardLinkContainer {
    height: 226px;
    min-width: 152px;
    padding: 16px 0;
    width: 152px;
  }
  .pCardLinkWrap {
    height: 120px;
    width: 120px;
  }
}