.boardContainer {
  display: flex;
  justify-content: center;
  margin: 1.5rem auto;
  /* background: yellow; */
}
.boardColumnWrap {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  /* background: red; */
}
.boardColumnContainer {
  display: flex;
  flex-direction: column;

  background: var(--light-grey);
  /* border: 1px solid lightgrey; */
  border-radius: 8px;

  margin: 4px 0px;
  padding: 12px;
  /* width: 100%; */
}

/* Add Task Button */
.addTaskBtnWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 2em;
  padding: 4px;

  transition-duration: .3s;
  cursor: pointer;

}
.addTaskBtnWrap:hover {
  background: #DEDEDE;
  border-radius: 4px;
}
.addTaskBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 1em auto; */
  column-gap: 0.5em;

  font-weight: 700;
  color: var(--font-color-secondary);

  padding: 4px;
  overflow: hidden;
  transition-duration: .2s;

}

/* Media Queries */
@media (min-width: 541px) {
  .boardColumnWrap {
    flex-direction: row;
    column-gap: 0.5rem;
    flex-wrap: wrap;
  }
  .boardColumnContainer {
    width: 190px;
  }
}
@media (min-width: 1023px) {
  .boardColumnContainer {
    width: 210px;
  }
}
@media (min-width: 1167px) {
  .boardColumnContainer {
    width: 240px;
  }
}
@media (min-width: 1279px) {
  .boardColumnContainer {
    width: 300px;
  }
}