.boardContainer {
  display: flex;
  justify-content: center;
  margin: 1.5rem auto;
  /* background: yellow; */
}
.boardColumnWrap {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  /* background: red; */
}
.boardColumnContainer {
  display: flex;
  flex-direction: column;

  background: var(--light-grey);
  /* border: 1px solid lightgrey; */
  border-radius: 8px;

  margin: 4px 0px;
  padding: 12px;
  /* width: 100%; */
}

/* Media Queries */
@media (min-width: 541px) {
  .boardColumnWrap {
    flex-direction: row;
    column-gap: 0.5rem;
    flex-wrap: wrap;
  }
  .boardColumnContainer {
    width: 190px;
  }
}
@media (min-width: 1023px) {
  .boardColumnContainer {
    width: 210px;
  }
}
@media (min-width: 1167px) {
  .boardColumnContainer {
    width: 240px;
  }
}
@media (min-width: 1279px) {
  .boardColumnContainer {
    width: 300px;
  }
}