.overWrap {
  margin: 1.5rem auto;
}
.overContainer {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  grid-gap: 1rem;
}

.assignedUsers {
  display: flex;
}
.summaryContent{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

/* Media Queries */
@media (min-width: 820px) {
  .overContainer {
    grid-template-columns: 3fr 2fr;
  }
}
