.pHeaderWrap {
  position: relatives;
  
}
.pHeaderContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: -4em 0.5em;
  column-gap: 0.5rem;
}

/*  Media Queries */
@media (min-width: 767px) {
  .pHeaderContainer {
    margin: -4.5em 0 0 -0.75em;
  }
}

@media (min-width: 821px) {
  .pHeaderContainer {
    margin: -4.5em 0 0 -2.25em;
  }
}