.tabNavBarWrap {
  padding-bottom: 0.25rem;
  border-bottom: 1px solid rgba(9,38,56,.2);

  font-size: 1.5rem;
  margin: 1rem auto;
}

.tabNavBarContainer {
  display: flex;
  column-gap: 1.25rem;
}

.tabNavItemLink:hover, .tabNavItemLink:active, .tabNavItemLink:focus {
  border-bottom: 3px solid rgba(0,157,220,0.7);
}

