.flowNavBar {
  background: var(--bg-color-primary);
}

.flowNavBar .flowNav {
  display: flex;
  justify-content: space-around;

  position: fixed;
  height: 5rem;
  width: 100%;
  bottom: 0;
  right: 0;

  font-size: 1rem;
  box-shadow: 0 3px 14px 3px rgba(0, 0, 0, 0.12),
        0 4px 15px rgba(0, 0, 0, 0.2);

  user-select: none;
  overflow: hidden;
  transition: 375ms;
}

/* .flowNavBar .navlinks {
  display: flex;
  flex-direction: column;
} */

/* BRAND STYLE */
.flowNavBar .branded {
  display: none;
  font-family: 'Bebas Neue', cursive;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
}

.flowNavBar .navSelector {
  padding: 16px 0 16px 0;
  float: left;
  text-align: center;

  /* flex-grow: 1; */
  font-size: 0.9rem;
  transition: 225ms cubic-bezier(0.4, 0.2, 0, 1);
  /* color: rgba(256, 256, 256, 0.87); */
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.flowNavBar .navIcon {
  font-size: 2rem;
}

@media screen and (min-width: 821px) {
  .flowNavBar .branded {
    display: flex;
    justify-content: center;
  }
  /* Navbar becomes side nav for larger screens */
  .flowNavBar .flowNav {
    width: 6rem;
    height: 100vh;
    left: 0;
    top: 0;
    right: initial;
    box-shadow: 0 3px 14px 3px rgba(0, 0, 0, 0.12),
        0 4px 15px rgba(0, 0, 0, 0.2);
    /* display: initial; */
    display: flex;
    flex-direction: column;
  }
}