.topBarWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 2em 2em 1em 2em; */
  margin: 1em 1em 0.5em 1em;
}

/*  Media Queries */
@media (min-width: 767px) {
  .topBarWrap {
    margin: 2em 2em 1em 2em;
  }
}