/* TODO: Smooth out transitions */

.loginWrap {
  display: flex;
}
.loginContent {
  padding: 1vw;
  margin: auto;
  width: 100%;
  max-width: 420px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formLabel span {
  font-size: 1.35em;
  color: var(--font-color-secondary);

  margin-top: -3em;
  transition: all 0.2s ease-in;

  display: block;
  position: absolute;
  z-index: 1;
}

.formLabel input {
  width: 100%;
  padding: 10px 0;
  margin-bottom: 30px;

  font-size: 1.5em;
  color:  var(--font-color-secondary);

  border: none;
  box-shadow: inset 0px -3px 0px 0px rgba(187,187,187,0.2);
  transition: box-shadow 0.3s ease-in;

  outline: none;
  background: transparent; 

  display: inline-block;
  position: relative;
  z-index: 2;
}

.formLabel input:focus, .formLabel input:valid {
  outline: none;
  box-shadow: inset 0px -3px 0px 0px rgba(0,157,220,0.5);
}

.formLabel input:focus + span, .formLabel input:valid + span {
  color: var(--accent-color);
  transform: translate(-12%, -130%) scale(0.75);
}

.loginContent button {
  width: 100%;
  margin: 2rem auto 1rem;
  padding: 15px 0;

  color: white;
  font-size: 1.5em;
  letter-spacing: 4px;
  background: var(--accent-color);

  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.4s ease-out;
}
.loginContent button:hover {
  background: rgba(0,157,220,0.7)
}

/* .loginContent input:focus {
    box-shadow: inset 0px -3px 0px 0px rgba(34,193,195,0.7);
   outline: none;
}
.loginContent input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.25s ease-out;
}
.loginContent input:hover::-webkit-input-placeholder,
.loginContent input:focus::-webkit-input-placeholder{
  opacity: 0;
} */

/* .loginContent input:focus {
  color: #9d9d9d;
  transform: translate(-12%, -50%) scale(0.75);
} */



.loginForm button {
  margin: 10px auto;
}

.loginForm .errorMsg {
  margin: 10px auto;
  color: red;
  font-size: 0.85em;
  font-style: italic;
}

/* Login Form Footer */

.loginFooter {
  text-align: right;
  margin: auto 1rem;
  font-size: 1.3rem;
}

.loginFooter p span {
  color: var(--accent-color);
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.loginFooter p span:hover {
  color: var(--font-color-primary);
}

/* Media Queries */
@media (min-width: 480px) {
  .loginForm form {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .loginForm form {
    width: 60%;
  } 
}

@media (min-width: 1024px) {
  .loginForm form {
    width: 50%;
  } 
}

@media (min-width: 1280px) {
  .loginForm form {
    width: 40%;
  } 
}
