.toolTipContainer {
  position: relative;
  display: inline-block;

}

.toolTipRight{
  position: absolute;
  display: inline-block;
  top: 160%;
  left: -30%;
  /* left: calc(100% + 5px); */
  transform: translateY(-90%);
  background: gray;
  color: white;
  padding: 0.5em 1em;
  border-radius: 5px;
}