@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

/* VARIABLES */
:root {
  --bg-color-primary: white;
  --bg-color-secondary: #f5f5f5;
  --accent-color: #009DDC;
  --alert-color: #F5821F;
  --font-color-primary: #333333;
  --font-color-secondary: #868686;
}

/* BASE STYLES */
body {
  margin: 0;
  font-family: 'Yantramanav', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-color-secondary);
  color: var(--font-color-primary);
}
ul, li, p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--font-color-primary);
}
a:hover {
  color: var(--accent-color);
}

/* BRAND STYLES */
/* .branded {
  font-family: 'Bebas Neue', cursive;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
} */
